$main-color: rgb(96, 206, 197);
$main-color-strong: rgb(37, 114, 108);
$main-color-weak: rgba($main-color, 0.2);
$background-color: rgb(237, 242, 247);
$card-background-color: rgb(255, 255, 255);
$font-color: rgb(133, 133, 133);
$font-strong: rgb(37, 37, 37);
$sidebar-width: 280px;
$article-card-radius: 4px;
$book-card-radius: 4px;
$toc-background-color: rgb(243, 243, 243);
$navbar-width: 300px;
